<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetalSlugFontReborn Examples</title>
    <link rel="icon" href="{{url_for('static', filename='assets/icons/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/example.css')}}">
</head>
<body>

<header>
    <h1>Metal Slug Font Examples</h1>
</header>

<main>

    <section>
        <h2>Font 1</h2>
        <ul>
            <li><strong>Blue:</strong> <img src="{{url_for('static', filename='assets/examples/Font-1/Font-1-Color-Blue.png')}}" alt="Font 1 Blue"></li>
            <li><strong>Orange 1:</strong> <img src="{{url_for('static', filename='assets/examples/Font-1/Font-1-Color-Orange-1.png')}}" alt="Font 1 Orange 1"></li>
            <li><strong>Orange 2:</strong> <img src="{{url_for('static', filename='assets/examples/Font-1/Font-1-Color-Orange-2.png')}}" alt="Font 1 Orange 2"></li>
        </ul>
    </section>

    <section>
        <h2>Font 2</h2>
        <ul>
            <li><strong>Blue:</strong> <img src="{{url_for('static', filename='assets/examples/Font-2/Font-2-Color-Blue.png')}}" alt="Font 2 Blue"></li>
            <li><strong>Orange 1:</strong> <img src="{{url_for('static', filename='assets/examples/Font-2/Font-2-Color-Orange-1.png')}}" alt="Font 2 Orange 1"></li>
            <li><strong>Orange 2:</strong> <img src="{{url_for('static', filename='assets/examples/Font-2/Font-2-Color-Orange-2.png')}}" alt="Font 2 Orange 2"></li>
        </ul>
    </section>

    <section>
        <h2>Font 3</h2>
        <ul>
            <li><strong>Blue:</strong> <img src="{{url_for('static', filename='assets/examples/Font-3/Font-3-Color-Blue.png')}}" alt="Font 3 Blue"></li>
            <li><strong>Orange 1:</strong> <img src="{{url_for('static', filename='assets/examples/Font-3/Font-3-Color-Orange-1.png')}}" alt="Font 3 Orange 1"></li>
        </ul>
    </section>

    <section>
        <h2>Font 4</h2>
        <ul>
            <li><strong>Blue:</strong> <img src="{{url_for('static', filename='assets/examples/Font-4/Font-4-Color-Blue.png')}}" alt="Font 4 Blue"></li>
            <li><strong>Orange 1:</strong> <img src="{{url_for('static', filename='assets/examples/Font-4/Font-4-Color-Orange-1.png')}}" alt="Font 4 Orange 1"></li>
            <li><strong>Yellow:</strong> <img src="{{url_for('static', filename='assets/examples/Font-4/Font-4-Color-Yellow.png')}}" alt="Font 4 Yellow"></li>
        </ul>
    </section>

    <section>
        <h2>Font 5</h2>
        <ul>
            <li><strong>Orange 1:</strong> <img src="{{url_for('static', filename='assets/examples/Font-5/Font-5-Color-Orange-1.png')}}" alt="Font 5 Orange 1"></li>
        </ul>
    </section>

</main>

</body>
</html>
