{% block head %}{% endblock %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css') }}"/>
        <link rel="icon" href="{{url_for('static' , filename='assets/icon/Raubtier.webp')}}" type="image/webp">
        <script src="{{url_for('static' , filename='js/JQuerry.js')}}"></script>
        <script src="{{url_for('static' , filename='js/main.js')}}"></script>
        <meta name="description" content="Make awesome Metal Slug font text images easily! This tool lets you create/generate images using letters, numbers, symbols, colors.">
        <meta name="keywords" content="Metal Slug, Metal Slug Font, Metal Slug Font Reborn, Metal Slug Game, Retro, Arcade, Old Game, Pixel Art, SNK, Fonts, Arcade Shooter, SNK Playmore">
        <meta name="author" content="VermeilChan, SikroxMemer">
    </head>
{% block body %}{% endblock %}
