<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'head.html' %}
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="n6ZTEuj-_m0mTKHo7uAsi9tJE6-vwBh6WDzPSef6btI" />
        <meta name="description" content="Make awesome Metal Slug font text images easily! This tool lets you create/generate images using letters, numbers, symbols, colors.">
        <meta name="keywords" content="Metal Slug, Metal Slug Font, Metal Slug Font Reborn, Metal Slug Game, Retro, Arcade, Old Game, Pixel Art, SNK, Fonts, Arcade Shooter, SNK Playmore">
        <meta name="author" content="VermeilChan, SikroxMemer">
        <title>MetalSlugFontReborn</title>

        <meta property="og:title" content="MetalSlugFontReborn">
        <meta property="og:description" content="Make awesome Metal Slug font text images easily! This tool lets you create/generate images using letters, numbers, symbols, colors.">
        <meta property="og:image" content="{{ url_for('static', filename='assets/icon/favicon.ico') }}">
        <meta property="og:url" content="https://vermeil.pythonanywhere.com/">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="MetalSlugFontReborn">
        <meta name="twitter:description" content="Make awesome Metal Slug font text images easily! This tool lets you create/generate images using letters, numbers, symbols, colors.">
        <meta name="twitter:image" content="{{ url_for('static', filename='assets/icon/Raubtier.webp') }}">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="icons-container">
            <div class="icons">
                <div class="tooltip">
                    <a href="https://github.com/VermeilChan/MetalSlugFontReborn" target="_blank" rel="noopener noreferrer">
                        <img src="../static/assets/icon/github.svg" alt="GitHub" class="social-icon">
                    </a>
                    <span class="tooltiptext">GitHub Repository</span>
                </div>
            </div>
        </div>

        <img src="{{ url_for('static', filename='assets/icon/Raubtier.webp') }}" alt="Raubtier" class="header-image">
        <h1>MetalSlugFontReborn</h1>

        <form id="form" action="/" method="post">
            <input type="text" name="text" placeholder="Enter Text" required="" oninvalid="setCustomValidity('Please enter some text.')" oninput="setCustomValidity('')">
            
            <select id="font" name="font">
                <option value="1">Font 1</option>
                <option value="2">Font 2</option>
                <option value="3">Font 3</option>
                <option value="4">Font 4</option>
                <option value="5">Font 5</option>
            </select>

            <select id="color" name="color">
                <option value="Blue">Blue</option>
                <option value="Orange-1">Orange 1</option>
                <option value="Orange-2">Orange 2</option>
            </select>

            <input type="submit" value="Generate">
        </form>

        <section>
            {% if error %}
                <p class="error-message">
                    {{ error }}
                    Check the supported characters <a href='/support'>here</a>.
                </p>
            {% else %}
                {% if state %}
                    <img id="image" src="{{output}}" alt="Image"/>
                {% endif %}
            {% endif %}
        </section>

        {% if state %}
            <button id="download_button">
                <a href="{{output}}" download="{{output}}">Download</a>
            </button>
        {% endif %}

        <section id="support">
            <h2>Support Characters</h2>
            <p>Check out the list of supported characters <a href="/support">here</a>.</p>
            <p>Or if you want to see how they look <a href="/examples">here</a>.</p>
        </section> 
    </div>
    {% endblock %}
</body>
</html>
