<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A tool for creating images with the Metal Slug font.">
        <meta name="keywords" content="Metal Slug, Metal Slug Font, Metal Slug Font Reborn">
        <meta name="author" content="VermeilChan, SikroxMemer">
        <title>MetalSlugFontReborn</title>

        <meta property="og:title" content="MetalSlugFontReborn">
        <meta property="og:description" content="A tool for creating images with the Metal Slug font.">
        <meta property="og:image" content="{{ url_for('static', filename='assets/icons/logo.png') }}">
        <meta property="og:url" content="https://vermeil.pythonanywhere.com">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="icons-container">
            <div class="icons">
                <div class="tooltip">
                    <a href="https://github.com/VermeilChan/MetalSlugFontReborn" target="_blank" rel="noopener noreferrer">
                        <img src="{{ url_for('static', filename='assets/icons/github.svg') }}" alt="GitHub" class="social-icon" width="48" height="48">
                    </a>
                    <span class="tooltiptext">Source Code</span>
                </div>
            </div>
        </div>

        <img src="{{ url_for('static', filename='assets/icons/Raubtier.webp') }}" alt="Raubtier" class="header-image" width="189" height="243">
    </div>
        <h1>MetalSlugFontReborn</h1>

        <form id="form" action="/" method="post">
            <input type="text" name="text" placeholder="Enter Text" required="" oninvalid="setCustomValidity('Please enter some text.')" oninput="setCustomValidity('')">

            <select id="font" name="font">
                <option value="1">Font 1</option>
                <option value="2">Font 2</option>
                <option value="3">Font 3</option>
                <option value="4">Font 4</option>
                <option value="5">Font 5</option>
            </select>

            <select id="color" name="color">
                <option value="Blue">Blue</option>
                <option value="Orange-1">Orange 1</option>
                <option value="Orange-2">Orange 2</option>
            </select>

            <input type="submit" value="Generate">
        </form>

        <section>
            {% if error %}
                <p class="error-message">
                    {{ error }}
                    {% if error_type == 'FileNotFoundError' %}
                        Check the supported characters <a href='/support'>here</a>.
                    {% endif %}
                </p>
            {% else %}
                {% if state %}
                    <img id="image" src="{{ output }}" alt="Image"/>
                {% endif %}
            {% endif %}
        </section>

        <section id="support">
            <p>Check out the list of <a href="/support">supported characters</a> here.</p>
            <p>If you want to see how they look, you can view some <a href="/examples">examples</a> here.</p>
        </section>                
    </div>
    {% endblock %}
</body>
</html>
