<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Make awesome Metal Slug font text images easily! This tool lets you create/generate images using letters, numbers, symbols, colors.">
    <meta name="keywords" content="Metal Slug, Metal Slug Font, Metal Slug Font Reborn, Metal Slug Game, Retro, Arcade, Old Game, Pixel Art, SNK, Fonts, Arcade Shooter, SNK Playmore">
    <meta name="author" content="VermeilChan, SikroxMemer">
    <title>MetalSlugFontReborn Character Support</title>
    <link rel="icon" href="{{url_for('static', filename='assets/icon/Raubtier.webp')}}" type="image/webp">
    <link rel="stylesheet" href="../static/css/style-supprted.css">
    <script src="../static/js/main.js"></script>
</head>
<body>

<header>
    <h1>MetalSlugFontReborn Character Support</h1>
</header>

<main>

    <section>
        <h2>Font 1 Support</h2>
        <ul>
            <li><strong>Letters:</strong> Lowercase and Uppercase</li>
            <li><strong>Numbers:</strong> 0 to 9</li>
            <li><strong>Symbols:</strong> , * {} () ^ : $ = ! > - ∞ < # % . + & ? " ; / ~ _ | ¥ ⛶ © ♥ ▲ ▼ ◀ ▶ ⋆ ★ ☞</li>
            <li><strong>Colors:</strong> Blue, Orange 1, Orange 2</li>
        </ul>
    </section>

    <section>
        <h2>Font 2 Support</h2>
        <ul>
            <li><strong>Letters:</strong> Lowercase and Uppercase</li>
            <li><strong>Numbers:</strong> 0 to 9</li>
            <li><strong>Symbols:</strong> , = ︷ ! - . + & ? / ♪ Ⅰ Ⅱ Ⅲ Ⅳ Ⅴ</li>
            <li><strong>Colors:</strong> Blue, Orange 1, Orange 2</li>
        </ul>
    </section>

    <section>
        <h2>Font 3 Support</h2>
        <ul>
            <li><strong>Letters:</strong> Lowercase and Uppercase</li>
            <li><strong>Numbers:</strong> 0 to 9</li>
            <li><strong>Symbols:</strong> ' {} () : , = ! > - < . + ? " ; / _ | ¥ ⛶ © ♥ ▲ ▼ ◀ ▶ ⋆ ★ ☞</li>
            <li><strong>Colors:</strong> Blue, Orange 1</li>
        </ul>
    </section>

    <section>
        <h2>Font 4 Support</h2>
        <ul>
            <li><strong>Letters:</strong> Lowercase and Uppercase</li>
            <li><strong>Numbers:</strong> 0 to 9</li>
            <li><strong>Symbols:</strong> ' * {} () ^ : $ = ! > - < # % . + & ? " ; / ~ _ | ¥ ⛶ © ♥ ▲ ▼ ◀ ▶ ⋆ ★ ☞</li>
            <li><strong>Colors:</strong> Blue, Orange 1</li>
        </ul>
    </section>

    <section>
        <h2>Font 5 Support</h2>
        <ul>
            <li><strong>Letters:</strong> Uppercase</li>
            <li><strong>Numbers:</strong> 1 to 9</li>
            <li><strong>Symbols:</strong> ! ?</li>
            <li><strong>Colors:</strong> Orange 1</li>
        </ul>
    </section>

</main>

</body>
</html>
