body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}

#download_button {
    display: inline-block;
}

#download_button a {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
}

#download_button a:hover {
    background-color: #45a049;
}
