/* Reset default margin, padding, font, and color */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #4815c0;
    /* Set background image and cover it */
    background: url('https://cdn.discordapp.com/attachments/861700235890130986/1139858875147894804/background.webp') center/cover no-repeat;
}

/* Center content vertically and horizontally */
.container {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Add fade-in animation */
    animation: fadeIn 0.8s ease-in-out;
}

/* Define the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styling for headings */
h1,
h2 {
    margin-bottom: 1rem;
    transition: color 0.3s ease-in-out;
    /* Add text shadow */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Styling for forms */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for input fields and submit button */
input[type="text"],
input[type="submit"],
#font,
#color {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Styling for input text when focused */
input[type="text"]:focus,
#font:focus,
#color:focus {
    background-color: #4815c0;
    color: #fff;
    transform: scale(1.02);
}

/* Styling for submit button */
input[type="submit"],
#download_button {
    background-color: #4815c0;
    color: #fff;
    cursor: pointer;
}

/* Styling for submit button when hovered */
input[type="submit"]:hover,
#download_button:hover {
    background-color: #4815c0;
}

/* Styling for error messages */
.error {
    color: #e57373;
    margin-top: 1rem;
    transition: color 0.3s ease-in-out;
}

/* Styling for error messages when hovered */
.error:hover {
    color: #d32f2f;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    input[type="text"],
    #font,
    #color {
        width: 100%;
    }
}

/* Styling for the header image */
.header-image {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Styling for the download button */
#download_button {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: #4815c0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Styling for the download button link */
#download_button a {
    color: #fff;
    text-decoration: none;
}

/* Styling for the download button link when active */
#download_button a:active {
    color: #fff;
    text-decoration: none;
}

/* Styling for the download button when hovered */
#download_button:hover {
    background-color: #4815c0;
}

/* Styling for the button container */
.button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


.main {
    display:flex;
}

