@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222222;
}

h1, h2 {
    color: #d32f2f;
    border-bottom: 2px solid #d32f2f;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #222222;
}

strong {
    margin-right: 10px;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #d32f2f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(211, 47, 47, 0.7);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #3b3b3b33;
    padding: 20px;
    transition: background-color 0.3s;
}

section:hover {
    background-color: #3b3b3b73;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }

    ::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
    background-color: #1f1f1f;
    }

    ::-webkit-scrollbar-track {
    background-color: #353535;
    }

    ::-webkit-scrollbar-track:hover {
    background-color: #353535;
    }
