@font-face {
    font-family: 'MetalSlugLatinoRegular';
    src: url('./font/Metal\ Slug\ Latino\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MetalSlugLatinoRegular', monospace;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    color: #bfbfbf; /* 75% lighter color (light gray) */
    background: url('./background/background-1.gif') center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1,
h2 {
    margin-bottom: 1rem;
    transition: color 0.3s ease-in-out;
    color: #000; /* Black color */
}

h1, h2, form, input[type="text"], input[type="submit"], #font, #color, .error, #download_button, #download_button a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #000; /* Black color */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="submit"],
#font,
#color {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: #000; /* Black color */
}

input[type="text"]:focus,
#font:focus,
#color:focus {
    background-color: #1f1f1f;
    color: #fff;
    transform: scale(1.02);
}

input[type="submit"],
#download_button {
    background-color: #d32f2f;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover,
#download_button:hover {
    background-color: #b71c1c;
}

.error {
    color: #e57373;
    margin-top: 1rem;
    transition: color 0.3s ease-in-out;
}

.error:hover {
    color: #d32f2f;
}

@media (max-width: 600px) {
    input[type="text"],
    #font,
    #color {
        width: 100%;
    }
}

.header-image {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#download_button {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#download_button a {
    color: #000; /* Black color */
    text-decoration: none;
}

#download_button a:active {
    color: #000; /* Black color */
    text-decoration: none;
}

#download_button:hover {
    background-color: #b71c1c;
}

.button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
}
